* {
    word-break:break-all;
}    
h5 {
    margin-top:5px;
    margin-bottom:0px;
}
#main {
    height:100%;
}
#chat {
    width:100%;
    margin-bottom:120px;
    y-overflow:scroll
}
#chat > div {
    border-radius:10px;
    width:60%;
    padding:5px;
}
#inputarea {
    background-color:white;
    position:fixed;
    width:100%;
    height:120px;
    bottom:0;
}    
#input {
    width:90%;
}
.me {
    margin-left:39%;
    text-align:left;
    background-color:lightgreen;
}
.other {
    text-align:left;
    margin-left:1%;
    background-color:lightblue;
}
.me img,.other img {
    width:100%;
}
.me h5,.other h5,
.me div,.other div
{
    padding:5px;
}
#chat > div {
    margin-top:0px;
    margin-bottom:10px;
}
.arrow-right {
   position: relative;
   background: lightgreen;
}
.arrow-right:after {
   left: 100%;
   top: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: transparent;
   border-left-color: lightgreen;
   border-width: 10px;
   margin-top: -10px;
}
.arrow-left {
   position: relative;
   background: lightblue;
}
.arrow-left:after {
   right: 100%;
   top: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: transparent;
   border-right-color: lightblue;
   border-width: 10px;
   margin-top: -10px;
}
